body {
  background-color: #ccffdd;
  font-family: "DIN Alternate";
  text-align: center;
  margin: 20px;
  font-size: 135%;
  overflow: hidden;
}
* {
  margin: 5px;
}
h1 {
  font-size: 5vh;
}
button {
  background-color: #ccffdd;
  font-size: 100%;
  font-family: "DIN Alternate";
}
input {
  font-size: 100%;
  font-family: "DIN Alternate";
}
.page {
  display: none;
}
